---
---
@charset "utf-8";

@import "main";

li.item {
    display: list-item;
    text-align:left;
    list-style: disc;
    list-style-type: disc;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 300;
}

li.item a:link {
    color: $color-blue;
    font-weight: 400;
}

li.item a:visited {
    color: $color-blue;
    font-weight: 400;
}

li.item a:hover {
    color: white;
    font-weight: 400;
}
