body[data-state=dark] {
  background-color: $color-dark;
  color: $color-light;

  ul a {
    color: $color-light-nav;

    &.active {
      color: white;
    }
  }

  svg {
    fill: $color-light;
  }

  footer svg {
    stroke: $color-light;

    rect:first-child {
      fill: $color-light;
    }

    ellipse {
      fill: $color-dark
    }
  }
}
