body[data-state=light] {
  background-color: $color-light;
  color: $color-dark;

  h2 {
    color: $color-med;
  }

  ul a {
    color: $color-dark;

    &.active {
      border-bottom: 0.2rem solid $color-blue;
    }
  }

  svg {
    fill: $color-dark;
  }

  footer svg {
    stroke: $color-dark;

    rect:first-child {
      fill: $color-dark;
    }

    ellipse {
      fill: $color-light
    }
  }
}
