@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$color-dark: #333;
$color-darker: #202020;
$color-med: #666;
$color-light: #ddd;
$color-light-nav: #999999;
$color-lighter: #bbb;
$color-blue: #3F98E2;
$color-hr: #404040;

@import 'dark';
@import 'light';

$font-size-large: 2.4rem;
$font-size-normal: 2rem;
$font-size-small: 1.8rem;
$font-size-tiny: 1.6rem;
$font-family-sans: Lato, sans-serif;

html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  flex-flow: row wrap;
  font-family: $font-family-sans;
  font-size: $font-size-tiny;
  font-weight: 300;
  min-height: 100vh;

  > * {
    flex: 1 100%;
  }
}

h1 {
  font-weight: 400;
  font-size: $font-size-large;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: white;
}

h2 {
  font-size: $font-size-small;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul.topnav {
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 20%;
  overflow: hidden;
  background-color: $color-darker;
  position: fixed;
  width: 100%;
  top: 0;
}

ul.topnav  li {
  float: left;
}

ul.topnav  a {
  display: block;
  color: $color-light-nav;
  text-align: center;
  padding: 16px 16px;
  padding-left: 0px;
  text-decoration: none;
}

ul.topnav a:hover {
  color: white;
}

ul.topnav a:active {
  color: white;
}

//ul {
//  font-size: 1.6rem;
//  font-weight: 400;
//  text-align: center;
//
//  li {
//    display: inline-block;
//  }
//
//  a {
//    padding-left: 0px;
//    text-decoration: none;
//  }
//}

a:link {
  color: $color-blue;
  font-weight: 400;
}

a:visited {
  color: $color-blue;
  font-weight: 400;
}

a:hover {
  color: white;
  font-weight: 400;
}

svg {
  height: 12.5rem;
  width: 12.5rem;
}

header {
  align-self: flex-start;
}

main {
  width: 60%;
}

footer {
  align-self: flex-end;
  margin-bottom: 1rem;
  text-align: center;
}

footer svg {
  cursor: pointer;
  height: 3rem;
  stroke-width: 0.4rem;
  width: 3rem;
}

hr {
  width: 100%;
  margin-top: 10px;
  height: 1px;
  background-color: $color-hr;
  border: 0 none;
}

p {
  text-align: justify;
  margin-top: 0px;
}

.center-image
{
  margin: 0 auto;
  display: block;
  border: 2px solid $color-darker;
}

code.inline {
  color: #bbbbbb;
  background-color: $color-darker;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  white-space: nowrap;
}
